# Dependencies
node_modules/

# Build output
dist/
build/

# Environment
.env
.env.*
!.env.example

# Logs
logs/
*.log

# Coverage
coverage/

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# zip
.zip